<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>管理员界面</title>
</head>
<body>
        <p><a href="{% url 'adminuser' user_sno=user.sno nav_id=0 %}">招领信息</a></p>
        <p><a href="{% url 'adminuser' user_sno=user.sno nav_id=1 %}">失物信息</a></p>
        <p><a href="{% url 'adminuser' user_sno=user.sno nav_id=2 %}">审核信息</a></p>
        {% for obj in obj_review%}
            <li><input type="checkbox" name="review_object" value={{obj.id}}/><a href="{% url 'object' obj.id %}">{{obj.id}}{{obj.name}}</li>
        {% endfor %}



        </div>
</body>
</html>
