<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>bootstrap</title>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="css/own.css"/>

		<style type="text/css">
			body{
				padding-top: 50px;
			}
			.start{
				padding:40px 15px;
				text-align: center;
			}
			#button{
				margin-top: 10px;
			}
			.list-group{
				margin: 40px;
			}
		</style>
		<script type="text/javascript">
			
		</script>
	</head>
	<body background="Wopop_files/login_bgx.gif">
		<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<a href="#" class="navbar-brand">校园失物招领平台</a>
				</div>
			<div id="sign_in" align="right">
				<input type="submit" class="sub_button" name="button" id="button" value="登录" style="opacity: 0.7;" onclick="window.location.href='log_in.html'">
			</div>	
			</div>		
		</nav>		
		<div class="container">
			<div class="start">
				<h1>这里是哈工大威海校园失物招领平台</h1>
				<p class="lead">欢迎</p>
			</div>
		</div>
		
		<div class="container" style="background-color: #C6C8CA;">
			<div class="row">
				<div class="col-md-3" >

 						<div class="list-group" >
							<a href="#" class="list-group-item">总览</a>
							<a href="#" class="list-group-item">证件现金</a>
							<a href="#" class="list-group-item">书本文具</a>
							<a href="#" class="list-group-item">衣物配件</a>
							<a href="#" class="list-group-item">电子用品</a>
							<a href="#" class="list-group-item">生活用品</a>
							<a href="#" class="list-group-item">其他</a>
						</div>
						
						<button type="button" class="btn btn-default btn-lg" style="margin: 30px 60px;" onclick="window.location.href='re_lost.html'">发布寻物</button>
						<button type="button" class="btn btn-default btn-lg" style="margin: 30px 60px;" onclick="window.location.href='re_found.html'">发布招领</button>
					 
				</div>
				<div class="col-md-9 ">
					<h3 style="margin-bottom: 0px;">失物招领</h3>
					<hr style="margin-top: 12px;">
					<div class="wrapper">
						<div >
							<div id="gallery" >
								<ul>
									<li><a rel="gallery_group" href="#" title="Image 1"><img src="images/demo/80x80.gif" alt="" /><div style="width: 150px;height: 60px;background: #FFFFFF;">物品描述</div></a></li>
									<li><a rel="gallery_group" href="#" title="Image 2"><img src="images/demo/80x80.gif" alt="" /><div style="width: 150px;height: 60px;background: #FFFFFF;">物品描述</div></a></li>
									<li><a rel="gallery_group" href="#" title="Image 3"><img src="images/demo/80x80.gif" alt="" /><div style="width: 150px;height: 60px;background: #FFFFFF;">物品描述</div></a></li>
									<li><a rel="gallery_group" href="#" title="Image 4"><img src="images/demo/80x80.gif" alt="" /><div style="width: 150px;height: 60px;background: #FFFFFF;">物品描述</div></a></li>
									<li><a rel="gallery_group" href="#" title="Image 5"><img src="images/demo/80x80.gif" alt="" /><div style="width: 150px;height: 60px;background: #FFFFFF;">物品描述</div></a></li>
									<li><a rel="gallery_group" href="#" title="Image 6"><img src="images/demo/80x80.gif" alt="" /><div style="width: 150px;height: 60px;background: #FFFFFF;">物品描述</div></a></li>
									<li><a rel="gallery_group" href="#" title="Image 7"><img src="images/demo/80x80.gif" alt="" /><div style="width: 150px;height: 60px;background: #FFFFFF;">物品描述</div></a></li>
									<li><a rel="gallery_group" href="#" title="Image 8"><img src="images/demo/80x80.gif" alt="" /><div style="width: 150px;height: 60px;background: #FFFFFF;">物品描述</div></a></li>
								</ul>
							</div>
						</div>
					</div>
						

						
				</div>
				
				<div class="col-md-9 col-md-offset-3">
					<h3 style="margin-bottom: 0px;">寻物启事</h3>
					<hr style="margin-top: 12px;">
					<div class="wrapper">
						<div >
							<div id="gallery" >
								<ul>
									<li><a rel="gallery_group" href="#" title="Image 1"><img src="images/demo/80x80.gif" alt="" /><div style="width: 150px;height: 60px;background: #FFFFFF;">物品描述</div></a></li>
									<li><a rel="gallery_group" href="#" title="Image 2"><img src="images/demo/80x80.gif" alt="" /><div style="width: 150px;height: 60px;background: #FFFFFF;">物品描述</div></a></li>
									<li><a rel="gallery_group" href="#" title="Image 3"><img src="images/demo/80x80.gif" alt="" /><div style="width: 150px;height: 60px;background: #FFFFFF;">物品描述</div></a></li>
									<li><a rel="gallery_group" href="#" title="Image 4"><img src="images/demo/80x80.gif" alt="" /><div style="width: 150px;height: 60px;background: #FFFFFF;">物品描述</div></a></li>
									<li><a rel="gallery_group" href="#" title="Image 5"><img src="images/demo/80x80.gif" alt="" /><div style="width: 150px;height: 60px;background: #FFFFFF;">物品描述</div></a></li>
									<li><a rel="gallery_group" href="#" title="Image 6"><img src="images/demo/80x80.gif" alt="" /><div style="width: 150px;height: 60px;background: #FFFFFF;">物品描述</div></a></li>
									<li><a rel="gallery_group" href="#" title="Image 7"><img src="images/demo/80x80.gif" alt="" /><div style="width: 150px;height: 60px;background: #FFFFFF;">物品描述</div></a></li>
									<li><a rel="gallery_group" href="#" title="Image 8"><img src="images/demo/80x80.gif" alt="" /><div style="width: 150px;height: 60px;background: #FFFFFF;">物品描述</div></a></li>
								</ul>
							</div>
						</div>
					</div>
						
				
						
				</div>
					
					
			</div>
				
				
			</div>
		</div>
		
		
	<script type="text/javascript">
		
	</script>
		
		
	</body>
</html>
